<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload Success! | OkayuCDN</title>
    <link rel="stylesheet" href="/assets/styles/_newStyles.css">
    <script src="https://kit.fontawesome.com/dc1b60441b.js" crossorigin="anonymous"></script>
</head>
<body>
    <%- include('parts/navbar', {active:'none'}) %>

    <div class="sc">
        <h1 class="__LANG_UPLOAD_SUCCESS">Your file has been uploaded successfully!</h1>
        <hr style="width: 97%; margin: 10px;">
        <h2 class="__LANG_VIEW_HERE">View it here:</h2>
        <h3><%=l%></h3>
        <button id="share" class="sc_share" onclick="try { navigator.share({
            title:'OkayuCDN',
            text:'View my file on OkayuCDN!',
            url:'<%=l%>'
        }) } catch(e) { 
            navigator.clipboard.writeText('<%=l%>');
            document.getElementById('share').innerHTML = 'Copied link!';
            setTimeout(() => {
                document.getElementById('share').innerHTML = 'Share';
            }, 1500);
         }">Share</button>

         <button class="sc_view __LANG_VIEW" onclick="window.location = '<%=vl%>'">View</button>
    </div>
</body>
</html>