<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View <%= filename %> on OkayuCDN</title>
    <link rel="stylesheet" href="/assets/styles/_newStyles.css">
    <script src="https://kit.fontawesome.com/dc1b60441b.js" crossorigin="anonymous"></script>
</head>
<body class="view_body">
    <%- include('parts/navbar', {active:'none'}) %>

    <div class="view_info">
        <h2><%= filename %></h2>
        <h4>Uploaded by <%= username %></h4>
        
        <h4 id="type">Size:</h4>
        <h4 id="warning">
            <i class="fa-solid fa-triangle-exclamation"></i> 
            <span id="warning-content">Do not run executable files sent to you by strangers.</span> 
            <i class="fa-solid fa-triangle-exclamation"></i>
            <br> 
            <span>Please email oka@waffle.moe to report this item if it seems malicious.</span>
        </h4>
            
        <div class="view_preview" id="previewArea">
        </div>


        <div class="wrap">
            <button class="go" id="download" onclick="startDownload('<%=username%>', '<%=filename%>')">Download</button>
        </div>
    </div>

    <script src="/assets/scripts/viewfileinfo.js"></script>
    <script>doInfo("<%= filesize %>", "<%= filetype %>", "<%= username %>", "<%= filename %>")</script>
    <!-- <script>
        // try and open in android app
        window.location.replace('okayucdn://view/<%= username %>:<%= filename %>')
    </script> -->
</body>
</html>