<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View <%= filename %> on OkayuCDN</title>
    <link rel="stylesheet" href="/assets/styles/_newStyles.css">
    <script src="https://kit.fontawesome.com/dc1b60441b.js" crossorigin="anonymous"></script>
</head>
<body class="view_body">
    <%- include('parts/navbar', {active:'none'}) %>

    <div class="view_info">
        <h2><%= filename %></h2>
        <!-- this will need manual changing via js or something -->
        <h4>Uploaded by <%= username %></h4>
        
        <h4 id="type">Size:</h4>
        <h4 id="warning">
            <i class="fa-solid fa-triangle-exclamation"></i> 
            <span class="__LANG_DANGEROUS_FILETYPE" id="warning-content">Do not run executable files sent to you by strangers.</span> 
            <i class="fa-solid fa-triangle-exclamation"></i>
            <br> 
            <span class="__LANG_REPORT">Please contact a site administrator to report this item if it seems malicious.</span>
        </h4>
            
        <div class="view_preview" id="previewArea">
        </div>


        <div class="wrap">
            <button class="go __LANG_DOWNLOAD" id="download" onclick="startDownload('<%=username%>', '<%=filename%>')">Download</button>
        </div>
    </div>

    <script src="/assets/scripts/viewfileinfo.js"></script>
    <script>doInfo("<%= filesize %>", "<%= filetype %>", "<%= username %>", "<%= filename %>")</script>

    <script>
        fetch('/api/health').then(health => {
            health.json().then(data => {
                if (!data.region_restricted) return;

                let previous_text = document.querySelector('#download').innerHTML;
                console.log('i am restricted');
                document.querySelector('#download').disabled = true;
                document.querySelector('#download').innerHTML = 'Please wait...';

                fetch('/api/whoami').then(resp => resp.json().then(data => {
                    if (data.username !== "<%= username %>") {
                        document.querySelector('#download').innerHTML = 'Download Unavailable';
                        document.querySelector('#previewArea').innerHTML = '<h3>This content is not available in your region.</h3>';
                    } else {
                        document.querySelector('#download').disabled = true;
                        document.querySelector('#download').innerHTML = previous_text;
                    }
                })).catch(err => {
                    console.warn(err);
                    document.querySelector('#download').innerHTML = 'Download Unavailable';
                    document.querySelector('#previewArea').innerHTML = '<h3>This content is not available in your region.<br>If this is your content, please log in.</h3>';
                });
            })
        });
    </script>
</body>
</html>