<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to OkayuCDN!</title>
    <link rel="stylesheet" href="/assets/styles/_newStyles.css">
    <script src="https://kit.fontawesome.com/dc1b60441b.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <img class="logo" src="/assets/images/logo.png" width="200"></img>
        <nav>
            <ul class="nav_links">
                <li><a href="#"><i class="fa-solid fa-house"></i> Home</a></li>
                <li><a href="/manage/upload"><i class="fa-solid fa-upload"></i> Upload</a></li>
                <li><a href="/mybox"><i class="fa-solid fa-box"></i> My Box</a></li>
                <li><a href="/info"><i class="fa-solid fa-circle-info"></i> Info</a></li>
            </ul>
        </nav>
    </header>

    <div class="view_info upload-pane">
        <h2 class="login_title"><%= filename %></h2>
        <h4 class="login_subtitle">Uploaded by <%= username %></h4>
        
        <h4 class="login_subtitle" id="size">Size:</h4>
        <h4 class="login_subtitle" id="type">File Type:</h4>

        <div class="view_preview" id="previewArea">
            
        </div>

        <div class="wrap">
            <button class="go" onclick="document.location = `/content/<%= username %>/<%= filename %>`">Download</button>
        </div>
    </div>

    <script src="/assets/scripts/viewfileinfo.js"></script>
    <script>doInfo("<%= filesize %>", "<%= filetype %>", "<%= username %>", "<%= filename %>")</script>
</body>
</html>