<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Watch Video | OkayuCDN</title>
    <link rel="stylesheet" href="/assets/styles/_newStyles.css">
    <script src="https://kit.fontawesome.com/dc1b60441b.js" crossorigin="anonymous"></script>

    <meta content="OkayuCDN" property="og:site_name">
    <meta property="og:title" content="<%=filename%>">
    <meta property="og:description" content="Video by <%=user%>">
    <meta content="<%=domain%>/content/<%= user %>/<%= filename %>" property="og:url">
    <meta property="og:image" content="<%=domain%>/api/thumbnail/<%=user%>/<%=filename%>">
    <meta property="og:image:height" content="720">
    <meta property="og:image:width" content="1280">
    <meta property="og:type" content="video.other">

    <meta content="#9000e3" data-react-helmet="true" name="theme-color">
</head>
<body>
    <header>
        <img class="logo" src="/assets/images/logo.png" width="200"></img>
        <nav>
            <ul class="nav_links">
                <li><a href="/home"><i class="fa-solid fa-house"></i> Home</a></li>
                <li><a href="/manage/upload"><i class="fa-solid fa-upload"></i> Upload</a></li>
                <li><a href="/mybox"><i class="fa-solid fa-box"></i> My Box</a></li>
                <li><a href="/info"><i class="fa-solid fa-circle-info"></i> Info</a></li>
            </ul>
        </nav>
    </header>

    <video id="videoPlayer" width="80%" controls autoplay>
        <source src="/api/mp4/<%=user%>/<%=filename%>" type="video/mp4" />
    </video>
</body>

</html>