<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Watch Video | OkayuCDN</title>
    <link rel="stylesheet" href="/assets/styles/_newStyles.css">
    <script src="https://kit.fontawesome.com/dc1b60441b.js" crossorigin="anonymous"></script>

    <meta content="OkayuCDN" property="og:site_name">
    <meta property="og:title" content="<%=filename%>">
    <meta property="og:description" content="Video by <%=user%>">
    <meta content="<%=domain%>/content/<%= user %>/<%= filename %>" property="og:url">
    <meta property="og:image" content="<%=domain%>/api/thumbnail/<%=user%>/<%=filename%>">
    <meta property="og:image:height" content="720">
    <meta property="og:image:width" content="1280">
    <meta property="og:type" content="video.other">

    <meta content="#9000e3" data-react-helmet="true" name="theme-color">
    <script src=" https://cdn.jsdelivr.net/npm/xgplayer@2.31.2/dist/index.min.js "></script>
</head>
<body>
    <%- include('parts/navbar', {active:'none'}) %>

    <h3 class="center">This page is an experimental frontend for playing videos using ByteDance's xgplayer. Please report bugs.</h3>
    <h3 class="center">You might need to reload once or wait a moment for the video to load.</h3>
    <!-- <video id="videoPlayer" width="80%" controls autoplay>
        <source src="" type="video/mp4" />
    </video> -->
    <div class="container_video">
        <div id="vp"></div>
    </div>
</body>

<script>
    const player = new xgplayer({
        el:document.querySelector('#vp'),
        url:'/@<%=user%>/<%=filename%>?bypass=true',
        width: window.innerWidth * 0.85,
        height: window.innerHeight * 0.85,
        style: {
            color: '#9000e3',
            fontSize: '16px'
        }
    });
</script>

</html>